

*.csv
*.html


.Rproj.user/1A479AB9/sources/prop/9A30A80D

.Rproj.user/1A479AB9/sources/prop/INDEX

.Rproj.user/1A479AB9/sources/s-4D4119AA/7E0FCC95

.Rproj.user/1A479AB9/sources/s-4D4119AA/

*.json

.Rproj.user/shared/notebooks/patch-chunk-names

.Rproj.user/shared/notebooks/paths



.Rproj.user/1A479AB9/sources/prop/

.Rproj.user/shared/notebooks/178DF49A-Artie Maharaj Assignment 10/1/1A479AB94D4119AA/c970ccelfiuq2/000007.error
