
.Rproj
*.csv
*.html


.Rproj.user/1A479AB9/sources/prop/9A30A80D

.Rproj.user/1A479AB9/sources/prop/INDEX

.Rproj.user/1A479AB9/sources/s-4D4119AA/7E0FCC95

.Rproj.user/1A479AB9/sources/s-4D4119AA/

*.json

.Rproj.user/shared/notebooks/patch-chunk-names

.Rproj.user/shared/notebooks/paths

Assignment10.Rproj
